@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p {
  font-family: "Roboto";
}
body {
  margin: 0;
}
.wrapper{
  margin:auto;
  margin-top: 8px;

  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9%;
}
.logo {
  position: relative;
  padding: 34px 0;
  padding-left: 47px;
  font: bold 24px/26px 'pt_serifbold', arial, helvetica, sans-serif;
}
.logo__circle {
  opacity: .7;
  border-radius: 50%;
  position: absolute;
  left: 5px;

  width: 26px;
  height: 26px;
}
.logo__circle_color_dark_blue {
    background: #0056EC;
}
.logo__circle_color_blue {
    background: #C8DBFB;
    left: 8px;
    top: 42%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 24px;
  margin-top: 5px;
  font: 500 19px/22px "Roboto", arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  left: 0;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item:last-child {
  margin-right: 6px;
}
.main {
  padding: 0 63% 100px 0;
  background:  top right no-repeat url(img/mainimg.svg);
  background-size:770px 657px;
}
.main__title{
  padding-top: 13%;
  margin: 0 0 40px 0;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/26px "Roboto", arial, helvetica, sans-serif;
  width: 80%;
}
.main__button {
  display: inline-block;
  font: 20px/32px "Roboto", arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
