@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p {
  font-family: "Roboto";
}
body {
  margin: 0;
  min-width: 375px;
}
.wrapper{
  margin:auto;
  margin-top: 8px;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9%;
}
.logo {
  position: relative;
  padding: 34px 0;
  padding-left: 47px;
  font: bold 24px/26px 'pt_serifbold', arial, helvetica, sans-serif;
}
.logo__circle {
  opacity: .7;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  width: 26px;
  height: 26px;
}
.logo__circle_color_dark_blue {
    background: #0056EC;
}
.logo__circle_color_blue {
    background: #C8DBFB;
    left: 8px;
    top: 42%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 24px;
  margin-top: 5px;
  font: 500 19px/22px "Roboto", arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  left: 0;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item:last-child {
  margin-right: 6px;
}
.main {
  padding: 0px 63% 100px 0;
  background:  top right no-repeat url(img/mainimg.svg);
  background-size: 770px 657px;
}
.main__title{
  padding-top: 13%;
  margin: 0 0 40px 0px;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/26px "Roboto", arial, helvetica, sans-serif;
  width: 80%;
}
.main__button {
  display: inline-block;
  font: 20px/32px "Roboto", arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity, background-color, box-shadow .5s;
}
.main__button:hover {
  opacity: .5;
  box-shadow: 0 5px 5px #5c354a;
  top: 2px;
  background-color: #18b5a4;
  transition-duration: 1s;

}
.main__title-text_highlight {
  background: #ECF3FF;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition: transform .3s ease;
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.hamburger-menu {
  display: none;
}
@media (max-width: 1366px) {
  .header {
    margin-bottom: 9.8%;
  }
  .wrapper {
    width: 68.5%;
  }
  .menu__item {
    margin-right: 27px;
    margin-top: 9px;
    font: 500 14px/17px "Roboto", arial, helvetica, sans-serif;
  }
  .main__title {
    padding-top: 4%;
    font: bold 51px/66px 'pt_serifbold', arial, helvetica, sans-serif;
  }
  .main {
    padding: 0px 56% 100px 0px;
    background-size: 518px 439px;
  }
  .main__subtitle {
    margin: 35px 0px 43px 6px;
    font: 18px/21px "Roboto", arial, helvetica, sans-serif;
    width: 87%;
  }
  .main__button {
    font: 14px/18px "Roboto", arial, helvetica, sans-serif;
    padding: 12px 24px;
    margin-left: -2px;
  }
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 9.9%;
  }
  .wrapper {
    width: 91.5%;
  }
  .menu__item {
    margin-right: 26.5px;
  }
  .menu__item:last-child {
    margin-right: 3px;
  }
  .main__title {
    font: bold 50.5px/66px 'pt_serifbold', arial, helvetica, sans-serif;
  }
  .main__subtitle {
    margin: 35px 0px 44px 3px;
    font: 18px/20px "Roboto", arial, helvetica, sans-serif;
  }
  .logo__circle {
    position: absolute;
    left: 3px;
    width: 27px;
    height: 27px;
  }
  .logo__circle_color_dark_blue {
    top: 32px;
  }
  .logo__circle_color_blue {
    left: 11px;
    top: 42%;
  }
  .main__button {
    padding: 12px 21px;
    margin-left: 1px;
    font: 14px/17px "Roboto", arial, helvetica, sans-serif;
  }
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}
@media (max-width: 375px) {
  .main {
    padding: 249px 8% 74px 29px;
    background-size: 287px 238px;
    background-position: top center;
  }
  .hamburger-menu {
    display: block;
  }
  .logo {
      padding: 45px 4px;
      padding-left: 72px;
      font: bold 0px/0px 'pt_serifbold', arial, helvetica, sans-serif;
  }
  .wrapper {
    width: 89.5%;
  }
  .logo__circle_color_dark_blue {
    top: 16px;
    left: -19px;
  }
  .logo__circle_color_blue {
    left: -11px;
    top: 27%;
  }
  .menu__btn {
    top: 27px;
    right: 23px;
    width: 26px;
    height: 26px;
  }
  .main__title {
    font: bold 30px/39px 'pt_serifbold', arial, helvetica, sans-serif;
    top: 395px;
    text-align: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -3%;
  }
  .wrapper {
    width: 77%;
  }
.main__subtitle {
    margin: -5px 0px 31px -6px;
    font:  16px/18.75px "Roboto", arial, helvetica, sans-serif;
    text-align: center;
    width: 105%;
  }
  .main__button {
    padding: 12px 22px;
    margin-left: 9px;
    margin-top: -2px;
    width: 71%;
    font: 14px/16px "Roboto", arial, helvetica, sans-serif;
  }
  .menu__item {
    position: relative;
    margin-right: 24px;
    margin-top: 50px;
    font: 500 31px/35px "Roboto", arial, helvetica, sans-serif;
    line-height: 60px;
    width: 114px;
    top: 94px;
    left: 0px;
  }
  .menu__item:hover:after, .menu__item_active:after {
    width: 0%;
  }
}
